# Arbitrary root password. Assigned at container creation time so it doesn't
# have to match anything in particular. Recommended: `openssl rand -base64 32`
MYSQL_ROOT_PASSWORD=

# Should match DB in any database backups being applied
MYSQL_DATABASE=

MYSQL_USER=
MYSQL_PASSWORD=

# TZ of server, not of phpBB
TZ=America/Toronto

# Should match the host owner of the static data dirs
APACHE_RUN_USER=
APACHE_RUN_GROUP=
